*{
  background-color: lightgrey;
}
#quiz{
  background-color: grey;
}
p,{
  text-indent: 25px;
  outline-style: solid;
}
a{
  color: black;
}

h1{
  font-family: sans-serif;
  text-align: center;
  background-color: gray;
  border: 2px solid crimson;
  border-radius: 15px;
}
h2 {
  font-family: sans-serif;
  text-align: center;
  background-color: gray;
  border: 2px solid crimson;
  border-radius: 10px;

}

li{
  color: black;
}
